@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.fredoka {
  font-family: "Fredoka", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.nav {
  border-bottom: 0;
}

/*** Hero ***/
.hero::before,
.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url("/img/bg-header-top.png") center center repeat-x;
  z-index: 100;
}

.hero::after {
  height: 19px;
  top: auto;
  bottom: 0;
  background: url("/img/bg-header-bottom.png") center center repeat-x;
}

.title-border-radius {
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 30%;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(222, 226, 230);
  border-color: #ff4880;
  border: 0;
  border-bottom: 2px solid;
}

.btn {
  border-radius: 25% 10%;
  background-color: #ff4880;
  border-color: #ff4880;
}
.about-section {
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/img/frente.jpg");
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.about-video {
  border-radius: 50% 20% / 10% 40%;
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/img/frente.jpg");
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (max-width: 590px) {
  .about-video {
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("/img/frente-mobile.png");

    background-size: cover;
    border-radius: 20px;
    margin-top: -2rem;
  }
}

.btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.btn-play::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #4d65f9;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.btn-play::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #f04967;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* Cursos */

.courses-section {
  background-image: url("/img/bg-section-grey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.workshop-section {
  background-image: url("/img/bg-dibujo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
}

.card-hr {
  background-color: #f04967;
  height: 2px;
}

.card-actions .btn {
  color: white;
  background-color: #f04967;
  border: 0;
}
