@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=F#fdd8e0oka:wght@300..700&display=swap");

.f#fdd8e0oka {
  font-family: "F#fdd8e0oka", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.nav {
  border-bottom: 0;
}

/*** Hero ***/
.hero::before,
.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url("/img/bg-header-top.png") center center repeat-x;
  z-index: 100;
}

.hero::after {
  height: 19px;
  top: auto;
  bottom: 0;
  background: url("/img/bg-header-bottom.png") center center repeat-x;
}

.swiper-hero {
  height: 500px;
}

@media (max-width: 768px) {
  .swiper-hero {
    height: 580px;
  }

  .banner-hero2 {
    background-image: url("/img/examen-aaci.png");
    height: 580px !important;
  }

  .banner-hero3 {
    background-image: url("/img/image-traducciones.jpg");
    height: 580px !important;
  }

  .banner-hero4 {
    background-image: url("/img/image-cursos.png");

    height: 580px !important;
  }
}

.banner-hero2 {
  background-image: url("/img/examen-aaci.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  overflow: hidden;
}

.banner-hero3 {
  background-image: url("/img/image-traducciones.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  overflow: hidden;
}

.banner-hero4 {
  background-image: url("/img/image-cursos.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  overflow: hidden;
}

/* FIN HERO */

.title-border-radius {
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 30%;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(222, 226, 230);
  border-color: #ff4880;
  border: 0;
  border-bottom: 2px solid;
}

.btn {
  border-radius: 25% 10%;
  background-color: #ff4880;
  border-color: #ff4880;
}

.btn:hover,
.btn:focus {
  background-color: #393d72;
  color: white;
}

.btn-cta {
  border-radius: 25% 10%;
  background-color: white;
  color: #ff4880;
}

.btn-cta:hover {
  background-color: rgba(255, 255, 255, 0.74) !important;
  color: #ff4880;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #393d72 !important;
}

.about-video {
  border-radius: 50% 20% / 10% 40%;
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("/img/frente.jpg");
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (max-width: 590px) {
  .about-video {
    background: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("/img/frente-mobile.png");

    background-size: cover;
    min-height: 400px;
    margin-top: -2rem;
  }
}

.btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.btn-play::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #4d65f9;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.btn-play::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #f04967;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* Cursos */

/* .courses-section {
  background-image: url("/img/bg-section-grey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

@media (max-width: 768px) {
  .mt-fix-1 {
    margin-top: -5px;
  }
}

.workshop-section {
  background-image: url("/img/bg-dibujo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
}

.card-hr {
  background-color: #f04967;
  height: 2px;
}

.card-actions .btn {
  color: white;
  background-color: #f04967;
  border: 0;
}

.cambridge-logo {
  width: 200px;
  height: 45px;
}

@media (max-width: 768px) {
  .cambridge-logo {
    width: 120px !important;
    height: 25px !important;
  }

  .aaci-logo {
    width: 80px;
    height: auto;
  }
}

/*---------------------------------------
  TIMELINE              
-----------------------------------------*/
.timeline-section {
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.timeline-container .vertical-scrollable-timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: #f04967;
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
}

.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #fdd8e0;
  width: 100%;
}

.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 20px 0px 65px 145px;
}

.timeline-container .vertical-scrollable-timeline li:last-child {
  padding-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li p {
  line-height: 40px;
}

.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdd8e0;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: #fdd8e0;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: white;
}

.timeline-container .vertical-scrollable-timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder {
  background-color: #f04967;
}

.timeline-container
  .vertical-scrollable-timeline
  li.active
  .icon-holder::before {
  background-color: #f04967;
}

@media (min-width: 350px) and (max-width: 768px) {
  .list-progress {
    height: 80% !important;
  }
}

@media (max-width: 340px) {
  .list-progress {
    height: 72% !important;
  }
}

@media (max-width: 768px) {
  .list-progress {
    left: 30px !important;
  }

  .icon-holder {
    width: 40px !important;
    left: 13.6px !important;
  }

  .timeline-container .vertical-scrollable-timeline li {
    padding: 20px 0px 65px 90px;
  }

  .timeline-container .vertical-scrollable-timeline p {
    line-height: 1.2 !important;
  }
}

.btn2 {
  background-color: white;
  border: 2px solid #fdd8e0;
  color: #f04967;
}

.btn2:hover,
.btn2:focus {
  background-color: #393d72;
  color: white;
}

/* Carousel Testimonials mobile */

.swiper-button-prev,
.swiper-button-next {
  top: 70px !important;

  color: #ff4880 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff4880 !important;
}

.swiper-pagination {
  bottom: -30px !important;
}

.swiper {
  overflow: visible !important;
}

/* Section separadores */
.wave {
  border-top-right-radius: 100px;
}

@media (min-width: 768px) {
  .wave {
    border-top-right-radius: 200px;
  }
}
